<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490811759229-9fj867jvqnhfjs9ne5hg7t46i2u239sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490811759229-9fj867jvqnhfjs9ne5hg7t46i2u239sd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>490811759229-ge6mfqfsdipodtq1mgf8nj641345utr9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC96h4cs8i5wde5oMrVxCkAgTmTZkp7UwI</string>
	<key>GCM_SENDER_ID</key>
	<string>490811759229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jitsco.appquizzy</string>
	<key>PROJECT_ID</key>
	<string>appquizzy-9ec11</string>
	<key>STORAGE_BUCKET</key>
	<string>appquizzy-9ec11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490811759229:ios:9dc4b46dc5679c3c2caf14</string>
</dict>
</plist>